:root{
    --fuenteP: 'Ms Madi', cursive;
    --fuenteT: 'Abel', sans-serif;

    --colorP: #784D3C;
    --gris: #E1E1E1;
    --colorS: #ffffff;
    --negro: #000000;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-family: var(--fuenteT);
    font-size: 1.6rem;
    line-height: 2;
}

/*--Globales--*/

.contenedor{
    max-width: 135rem;
    width: 90%;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

h1, h2, h3, h4{
    font-family: var(--fuenteP);
    line-height: 1.2;
}

h1{
    font-size: 4.8rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3.2rem;
}
h4{
    font-size: 2.8rem;
}

img{
    max-width: 100%;
}

/*--Utilidades--*/

.no-margin{
    margin: 0;
}

.no-padding{
    padding: 0;
}

.centrar-texto{
    text-align: center;
}

/*--Header--*/

.header{
    background-image: url(../img/banner.jpg);
    height: 60rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.header__texto{
    color: var(--colorS);
    text-align: center;
    margin-top: 5rem;
}

@media (min-width: 768px) {
    .header__texto{
        margin-top: 15rem;
    }

    .header__texto h2{
        font-size: 6rem;
    }

    .header__texto p{
        font-size: 2.5rem;
    }
}

@media (min-width: 768px) {
    .barra{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.logo{
    color: var(--colorS);
}

.logo__nombre{
    font-weight: 400;
}

.logo__bold{
    font-weight: 700;
}

.barra{
    padding-top: 4rem;
}

/*--Navegacion enlace--*/

.navegacion__enlace{
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--colorS);
}

@media (min-width: 768px) {
    .navegacion{
        display: flex;
        gap: 2rem;
    }
}

@media (min-width:768px) {
    .contenido-principal{
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;
    }
}

/*--Entradas--*/

.entrada{
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
}

.entrada:last-of-type{
    border: none;
    margin: 0;
}

.entrada__contenido h4{
    font-size: 5rem;
}
.entrada__contenido p{
    font-size: 2.2rem;
}

/*--Boton--*/

.boton{
    display: block;
    color: var(--colorS);
    font-family: var(--fuenteT);
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    font-weight: 700;
}

@media (min-width:768px) {
    .boton{
        display: inline-block;
    }
}

.boton--primario{
    background-color: var(--negro);
}

/*--Titulos Blogs y Talleres--*/
.blog__titulo{
    font-size: 5rem;
}

.sidebar__titulo{
    font-size: 5rem;
}

.boton--secundario{
    background-color: var(--colorP);
}

/*--Quitando viñetas--*/

.cursos{
    list-style: none;
}

.widget-curso{
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
}

.widget-curso__label{
    font-family: var(--fuenteT);
    font-weight: bold;
}

.widget-curso__info{
    font-weight: normal;
}

.widget-curso:last-of-type{
    border: none;
    margin: none;
}

.widget-curso__label,
.widget-curso__info{
    font-size: 2rem;
}

.cursos-titulo{
    font-size: 3.5rem;
}

/*--Footer--*/
@media (min-width:768px) {
    .footer{
        background-color: var(--negro);
        height: 15rem;
        padding-top: 1rem;
        margin-top: 7rem;
    }
}

.footer{
    background-color: var(--negro);
}

/*--Nosotros--*/

@media (min-width:768px) {
    
    .contenido--principal{
        margin-top: 5rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
    
}

.contenido--principal__texto{
    font-size: 2.2rem;
}

.nosotros__titulo{
    font-size: 5rem;
}

/*--Pagina Cursos--*/

.titulo-cursos{
    font-size: 5rem;
}